[Desktop Entry]
Type=Application
Name=TypeBreaker
Exec=com.github.hannenz.typebreaker
Icon=/usr/share/icons/hicolor/scalable/apps/typebreaker.svg
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
DBusActivatable=true

