[Desktop Entry]
Name=Typebreaker
GenericName=Typing Break Monitor
Comment=Saves your wrist
Categories=Utility;
Exec=com.github.hannenz.typebreaker
Icon=typebreaker
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=typebreaker
Keywords=Keyboard;Typing;Break;Wrist
